
@model IEnumerable<GraduationProject.Data.Entities.University>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Dashboard_Layout.cshtml";
}
   

<div class="container">
    <div class="row my-2">
        <div class="col-10" >
            <h2 class="clr-secondary"> Universities </h2>
        </div>
        <div class="col-2">
            <a href="@Url.Action("Create", "Universities")"  class="btn btn-lg btn-primary bg-clr-primary "> Create New</a>          
        </div>
        </div>

    <div>
        <table class="table">
            <thead class="thead-dark">

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Logo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Zipcode)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Street)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Governorate)
                    </th>

                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Views)
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var item in Model)
            {
                <tr class="my-2">
                    <td class="font-3rem text-center clr-secondary bg-light p-0 lh-100px">
                        @if (item.Logo != null)
                        {
                            <img src="/Universities/RetrieveImage/@item.Id" alt="" height=100 width=200 />
                        }
                        else
                        {
                            <i class="fas fa-university clr-secondary"></i>
                        }

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Zipcode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Street)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Governorate)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Views)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                        @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })

                    </td>
                </tr>
            }

        </table>
    </div>
    </div>