<!DOCTYPE html>
<html style="height:100% !important">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - COLEGER</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="">
    <nav class="navbar navbar-expand-lg navbar-light bg-light nav-border">
        <img src="~/Images/logo-color.png" width="40" height="40" class="d-inline-block align-top" alt="">
        <a class="navbar-brand clr-primary" href="#"><strong>COLEGER</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
            </ul>
            <ul class="navbar-nav user-nav">

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Login", "Account")" >Login <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="@Url.Action("Register", "Account")">Register <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="body-content">
        @RenderBody()
        <footer class="text-light text-center text-capitalize bg-clr-primary footer">
            <p>&copy; @DateTime.Now.Year - COLEGER</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
